.about-contact {
    --about-contact--diraction: column;
    --about-contact--gap: 0;
    --about-contact--padding: 75px 20px 10px;
    --about-contact--width: 100%;
    --about-title--margin-top: 25px;
    --about-title--margin-bottom: 20px;
    --contact--position: static;
    --contact-title--margin-bottom: 20px;
    --contact--padding-top: 75px;

    @media (min-width: 768px) {
        --about-contact--padding: 65px 20px 10px;
        --contact--padding-top: 65px;
    }

    @media (min-width: 1024px) {
        --about-contact--diraction: row;
        --about-contact--gap: 100px;
        --about-contact--padding: 110px 75px 10px;
        --about-contact--width: calc(50% - var(--about-contact--gap) / 2);
        --about-title--margin-top: 35px;
        --about-title--margin-bottom: 30px;
        --contact--position: sticky;
        --contact-title--margin-bottom: 30px;
        --contact--padding-top: 110px;
    }

    @media (min-width: 1440px) {
        --about-contact--gap: 250px;
        --about-contact--padding: 110px 150px 10px;
        --about-title--margin-top: 50px;
        --about-title--margin-bottom: 40px;
    }
}

.about-contact {
    display: flex;
    flex-direction: var(--about-contact--diraction);
    gap: var(--about-contact--gap);
    padding: var(--about-contact--padding);

    .about-text {
        width: var(--about-contact--width);

        .about-title {
            font-size: var(--font-size--heading_medium);
            line-height: var(--font-size--heading_medium);
            margin-bottom: var(--about-title--margin-bottom);

            &:not(:first-child) {
                margin-top: var(--about-title--margin-top);
            }
        }

        p {
            margin-bottom: 15px;
        }

        ul {
            padding-left: 30px;
        }
    }

    .contact-form {
        padding-top: var(--contact--padding-top);
        width: var(--about-contact--width);
        position: var(--contact--position);
        top: 110px;
        height: fit-content;

        .contact-title {
            font-size: var(--font-size--heading_small);
            line-height: var(--font-size--heading_small);
            margin-bottom: var(--contact-title--margin-bottom);
        }

        form {
            width: 100%;
            background: #f9f9f9;
            border-radius: 8px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .label {
            color: #000;
            margin-bottom: 8px;
        }

        textarea {
            min-height: 80px;
            width: 100% !important;
        }

        input {
            height: 40px;
        }

        input,
        textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            width: 100%;
        }

        .submit {
            padding: 10px;
            height: 40px;
            background: #333;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}
