.main-banner {
    --banner--padding: 85px 20px 10px;
    --banner-content--width: 100%;
    --banner-content--margin-bottom: 45px;
    --banner-title--margin-bottom: 15px;
    --banner-subtitle--margin-bottom: 25px;
    --banner-grid--gap: 20px;
    --banner-icon--width: calc(50% - var(--banner-grid--gap) / 2);
    --banner-icon--gap: 15px;
    --banner-icon--size: 44px;
    --banner-text--gap: 15px;

    @media (min-width: 768px) {
        --banner--padding: 75px 40px 10px;
        --banner-content--width: 80%;
        --banner-content--margin-bottom: 65px;
        --banner-title--margin-bottom: 25px;
        --banner-subtitle--margin-bottom: 35px;
        --banner-grid--gap: 30px;
        --banner-icon--width: calc(100% / 3 - var(--banner-grid--gap) * 2 / 3);
        --banner-icon--gap: 20px;
        --banner-icon--size: 54px;
    }

    @media (min-width: 1024px) {
        --banner--padding: 130px 60px 10px;
        --banner-content--width: 70%;
        --banner-content--margin-bottom: 80px;
        --banner-subtitle--margin-bottom: 55px;
        --banner-grid--gap: 45px;
        --banner-icon--size: 64px;
        --banner-text--gap: 25px;
    }

    @media (min-width: 1440px) {
        --banner--padding: 130px 70px 10px;
        --banner-content--width: 50%;
        --banner-content--margin-bottom: 95px;
        --banner-title--margin-bottom: 30px;
        --banner-grid--gap: 60px;
    }
}

.main-banner {
    padding: var(--banner--padding);
    display: flex;
    flex-direction: column;

    .banner-content {
        width: var(--banner-content--width);
        margin-bottom: var(--banner-content--margin-bottom);

        .page-title {
            font-size: var(--font-size--heading_big);
            line-height: var(--font-size--heading_big);
            margin-bottom: var(--banner-title--margin-bottom);
        }

        .page-subtitle {
            font-size: var(--font-size--text_medium);
            text-transform: uppercase;
            margin-bottom: var(--banner-subtitle--margin-bottom);
        }

        .icon-grid {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: var(--banner-grid--gap);

            .icon-item {
                width: var(--banner-icon--width);
                max-width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--banner-icon--gap);
                text-align: center;

                .icon {
                    display: block;
                    width: var(--banner-icon--size);
                    height: var(--banner-icon--size);
                    color: #f3f3f3;
                    transition: color 1s, transform 1s;
                }

                &:hover .icon {
                    color: #c185c8;
                    transform: scale(1.1);
                }
            }
        }
    }

    .banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--banner-text--gap);
        margin-bottom: 15px;

        p {
            max-width: 360px;
        }
    }

    .button {
        align-self: center;
    }
}
