.clients-section {
    --clients--padding: 30px 15px;
    --clients-grid--gap: 15px;
    --clients-grid--margin-bottom: 50px;
    --clients-icon--width: calc(100% / 4 - var(--clients-grid--gap) * 3 / 4);
    --clients-review--width: 100%;
    --clients-review--padding: 45px 0 30px;

    @media (min-width: 768px) {
        --clients--padding: 45px 25px;
        --clients-title--margin-bottom: 30px;
        --clients-grid--gap: 25px;
        --clients-icon--width: calc(
            100% / 5 - var(--clients-grid--gap) * 4 / 5
        );
        --clients-review--width: calc(50% - 15px);
    }

    @media (min-width: 1024px) {
        --clients--padding: 70px 50px;
        --clients-title--margin-bottom: 45px;
        --clients-grid--gap: 30px;
    }

    @media (min-width: 1440px) {
        --clients--padding: 95px 150px;
        --clients-review--padding: 45px 40px 30px;
    }
}

.clients-section {
    padding: var(--clients--padding);
    text-align: center;

    .clients-title {
        font-size: var(--font-size--heading_medium);
        margin-bottom: var(--clients-title--margin-bottom);
    }

    .logo-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: var(--clients-grid--gap);
        margin-bottom: 90px;

        .logo {
            width: var(--clients-icon--width);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .reviews-wrapper {
        display: flex;
        gap: 60px 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .review {
            border-radius: 28px;
            background-image: radial-gradient(black, transparent);
            width: var(--clients-review--width);
            padding: var(--clients-review--padding);
            position: relative;

            .img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .quotte {
                font-size: var(--font-size--text_big);
                margin-bottom: 25px;
            }

            .author {
                font-size: var(--font-size--text_small);

                *:empty {
                    display: none;
                }

                .name {
                    font-weight: 700;
                }

                .company {
                    opacity: 0.5;
                }

                .link {
                    text-decoration: underline;
                }
            }
        }
    }
}
