.contacts-section {
    --contacts--padding: 75px 15px 10px;
    --contacts-title--margin-bottom: 30px;
    --contacts-grid--gap: 15px;
    --contacts-form--height: 60px;
    --contacts-form-input--padding: 8px;
    --contacts-form-button--padding: 8px 16px;
    --contacts-icons--gap: 10px;

    @media (min-width: 768px) {
        --contacts--padding: 65px 10px;
        --contacts-title--margin-bottom: 45px;
        --contacts-grid--gap: 30px;
        --contacts-form-input--padding: 12px;
        --contacts-form-button--padding: 12px 22px;
        --contacts-icons--gap: 22px;
    }

    @media (min-width: 1024px) {
        --contacts--padding: 110px 50px 10px;
        --contacts-title--margin-bottom: 60px;
        --contacts-grid--gap: 40px;
        --contacts-form--height: 75px;
        --contacts-form-input--padding: 17px;
        --contacts-form-button--padding: 16px 25px;
    }

    @media (min-width: 1440px) {
        --contacts--padding: 110px 150px 10px;
        --contacts-title--margin-bottom: 70px;
    }
}

.contacts-section {
    padding: var(--contacts--padding);

    .contacts-title {
        font-size: var(--font-size--heading_medium);
        line-height: var(--font-size--heading_medium);
        margin-bottom: var(--contacts-title--margin-bottom);
    }

    .contacts-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--contacts-grid--gap);
    }

    .contact-block {
        flex: 1 0 calc(35% - var(--contacts-grid--gap) / 2);
        max-width: 100%;
        display: flex;

        &.numbers {
            flex-direction: column;
            gap: 10px;

            .icon {
                display: inline-block;
                width: 32px;
                height: 32px;
            }

            .number {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: var(--font-size--text_small);
            }

            a:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &.subscribe {
            justify-content: flex-end;

            form {
                border: 1px solid rgba(255, 255, 255, 0.12);
                border-radius: 16px;
                padding: 5px;
                height: var(--contacts-form--height);
                display: flex;
                gap: 10px;
                width: 100%;

                input {
                    height: 100%;
                    flex: 1 0 0;
                    border-radius: 16px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    color: #fff;
                    font-size: var(--font-size--text_medium);
                    padding: var(--contacts-form-input--padding);

                    &::placeholder {
                        color: #fff;
                    }
                }

                button {
                    height: 100%;
                    padding: var(--contacts-form-button--padding);
                    min-width: 150px;
                    border-radius: 16px;
                    border: none;
                    background-color: #fff;
                    color: #000;
                    font-size: var(--font-size--text_medium);

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        &.copyright {
            align-items: flex-end;
            font-size: var(--font-size--text_small);
            opacity: 32%;
        }

        &.social-icons {
            justify-content: flex-end;
            display: flex;
            gap: var(--contacts-icons--gap);
            order: 4;

            a {
                display: inline-block;
                width: 54px;
                height: 54px;
            }

            .icon {
                display: block;
                width: 54px;
                height: 54px;
                background-color: #f3f3f3;
                border-radius: 50%;
                color: #000;
            }
        }
    }
}
