.gallery-section {
    background-color: rgba(0, 0, 0, 0.67);
    display: flex;
    padding: 65px 60px 25px;
    gap: 70px;

    .gallery-left {
        width: calc(100% * 2 / 3 - 35px);

        .slick-dots li button::before {
            color: #d9d9d9;
            font-size: 15px;
        }
    }

    .gallery-right {
        width: calc(100% / 3 - 35px);
        padding: 60px 0;

        .gallery-title {
            font-size: 44px;
            margin-bottom: 90px;
        }

        p {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .button {
            margin-top: 90px;
        }
    }
}
