.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
    z-index: 100;
    padding: 45px;

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;

            &.anchor-links {
                font-size: 24px;
                font-weight: 400;
                gap: 75px;

                a:hover {
                }
            }

            &.language-links {
                font-size: 18px;
                font-weight: 100;
                gap: 15px;

                a.current {
                    font-weight: 400;
                }
            }
        }
    }
}
