.site-header {
    --header--padding: 15px;
    --header--gap: 10px;
    --header-nav--gap: 15px;
    --header-nav--wrap: wrap;
    --header-lang--gap: 10px;

    @media (min-width: 768px) {
        --header--padding: 20px;
        --header--gap: 25px;
        --header-nav--gap: 25px;
        --header-nav--wrap: nowrap;
        --header-lang-gap: 15px;
    }

    @media (min-width: 1024px) {
        --header--padding: 45px;
        --header--gap: 50px;
        --header-nav--gap: 75px;
    }
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
    z-index: 100;
    padding: var(--header--padding);

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: var(--header-nav--wrap);
        gap: var(--header--gap);

        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;

            &.anchor-links {
                font-size: var(--font-size--text_medium);
                font-weight: 400;
                gap: var(--header-nav--gap);
            }

            &.language-links {
                font-size: var(--font-size--text_small);
                font-weight: 100;
                gap: var(--header-lang--gap);

                a.current {
                    font-weight: 400;
                }
            }
        }
    }
}
