.our-team {
    --team--padding: 30px 20px 40px;
    --team--width: 100%;
    --team-title--margin-bottom: 25px;

    @media (min-width: 1024px) {
        --team--padding: 30px 75px 50px;
        --team--width: calc(50% - 50px);
        --team-title--margin-bottom: 35px;
    }

    @media (min-width: 1440px) {
        --team--padding: 30px 150px 70px;
        --team--width: calc(50% - 125px);
        --team-title--margin-bottom: 50px;
    }
}

.our-team {
    .team-text {
        display: flex;
        flex-direction: column;
        padding: var(--team--padding);

        > * {
            width: var(--team--width);
        }

        .team-title {
            font-size: var(--font-size--heading_medium);
            margin-bottom: var(--team-title--margin-bottom);
        }
    }

    .team-slider {
        .team-member {
            width: 285px;
            margin-left: 50px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .slick-prev {
            left: 70px;
            z-index: 100;
        }

        .slick-next {
            right: 70px;
            z-index: 100;
        }

        .slick-prev:before,
        .slick-next:before {
            font-size: 40px;
        }
    }
}
