.video-section {
    --video--padding: 15px;
    --video-title--margin-bottom: 25px;
    --video-title--max-width: unset;

    @media (min-width: 768px) {
        --video--padding: 25px;
        --video-title--margin-bottom: 35px;
    }

    @media (min-width: 1024px) {
        --video--padding: 30px 102px;
        --video-title--margin-bottom: 30px;
        --video-title--max-width: 779px;
    }

    @media (min-width: 1440px) {
        --video--padding: 34px 116px;
        --video-title--margin-bottom: 34px;
        --video-title--max-width: 885px;
    }

    @media (min-width: 1920px) {
        --video--padding: 45px 155px;
        --video-title--margin-bottom: 45px;
        --video-title--max-width: 1180;
    }
}

.video-section {
    padding: var(--video--padding);
    text-align: center;

    .video-title {
        font-size: var(--font-size--heading_medium);
        line-height: var(--font-size--heading_medium);
        margin-bottom: var(--video-title--margin-bottom);
    }

    .video-player {
        display: block;
        width: 100%;
        max-width: var(--video-title--max-width);
        height: auto;
        margin: 0 auto;
    }

    .video-description {
        margin: 15px auto 10px;
    }
}
