.video-section {
    --video--padding: 15px;
    --video-title--margin-bottom: 25px;

    @media (min-width: 768px) {
        --video--padding: 25px;
        --video-title--margin-bottom: 35px;
    }

    @media (min-width: 1024px) {
        --video--padding: 35px;
        --video-title--margin-bottom: 45px;
    }
}

.video-section {
    padding: var(--video--padding);
    text-align: center;

    .video-title {
        font-size: var(--font-size--heading_medium);
        line-height: var(--font-size--heading_medium);
        margin-bottom: var(--video-title--margin-bottom);
    }

    .video-player {
        display: block;
        width: 100%;
        max-width: 1150px;
        height: auto;
        margin: 0 auto;
    }

    .video-description {
        margin: 15px auto 10px;
    }
}
